:root {
 --main-font-color: #263555;
 --second-font-color: #ffffff;
 
 --main-background-color: #ffffff;

 --main-font-size: 16px;

 --hover-color: #DB7093;
 
 --main-font-weight: 400;
 --fat-font-weight: 600;
}