@import url("reset.css");
@import url("fonts.css");
@import url("variables.css");

a {
  text-decoration: none;
}
/*-----MASTHEAD-----*/

.masthead-wrapper {
  min-height: 43.75rem;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../img/bg-img-masthead.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: RGBA(0, 0, 0, 0.5);
}

.container {
  max-width: 58.43rem;
  margin: auto;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7.5rem;
}

.logo {
  font-family: Lobster, serif;
  font-weight: 400;
  color: #fed136;
  font-size: 1.625rem;
  padding-bottom: 0.625rem;
}

.logo:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  margin-right: 2.5rem;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.625rem;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  border-color: #fed136;
  color: #fed136;
}

.nav-item a:hover {
  color: #fed136;
}

.nav-item a {
  color: var(--main-font-color);
}

.promo {
  min-height: 36.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-font-color);
}

.promo-title {
  font-family: Source_Code_Pro, monospace;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 3.125rem;
}

.promo-subtitle {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 4.6875rem;
  margin-bottom: 3.75rem;
}

.btn {
  border: 0.125rem solid #fed136;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--main-font-color);
  background-color: var(--main-background-color);
  padding: 1.5625rem 3.125rem;
  border-radius: 3px;
}

.btn:hover {
  color: #fed136;
  background-color: #fff;
  transition-duration: 0.5s;
}

/*-----SERVICES-----*/

.services-wrapper {
  min-height: 35rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 16.25rem;
}

.section-header-title {
  color: var(--second-font-color);
  font-size: 2.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.section-header-subtitle {
  color: #777777;
  font-size: 1rem;
  font-family: Source_Code_Pro, monospace;
  font-weight: 400;
}

.services-item {
  display: flex;
  min-height: 16.25rem;
}

.services-card {
  flex-basis: 33%;
  text-align: center;
  margin-right: 3.125rem;
}

.services-card:last-child {
  margin-right: 0;
}

.services-icon-basket {
  display: inline-block;
  width: 4.6875rem;
  height: 4.6875rem;
  background-image: url("../img/icon-basket.png"), url("../img/icon-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.5625rem;
}

.services-icon-laptop {
  display: inline-block;
  width: 4.6875rem;
  height: 4.6875rem;
  background-image: url("../img/Icon-Laptop.png"), url("../img/icon-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.5625rem;
}

.services-icon-look {
  display: inline-block;
  width: 4.6875rem;
  height: 4.6875rem;
  background-image: url("../img/Icon-Locked.png"), url("../img/icon-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.5625rem;
}

.services-name {
  color: var(--second-font-color);
  font-size: 1.125rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.services-text {
  color: #777777;
  font-size: 0.875rem;
  font-family: Roboto_Slab, sans-serif;
  font-weight: 400;
}

/*-----CONTACTS-----*/

.contact-wrapper {
  min-height: 40.625rem;
  background-image: url("../img/bg-img-contact-map.png"),
    url("../img/bg-img-contact.png");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: right;
}

.section-header-title-contact {
  color: var(--main-font-color);
  font-size: 2.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.contact-form {
  margin-bottom: 1.875rem;
}

.contact-form form {
  display: flex;
  justify-content: center;
  min-height: 13.125rem;
}

.contact-form-bio,
.contact-form-message {
  flex-basis: 40%;
}

.contact-form-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1rem;
}

.contact-form-bio input {
  margin-bottom: 1.25rem;
  border-radius: 2px;
  padding: 1.25rem;
  width: 18.75rem;
  border: 0;
  outline: 0;
}

input::placeholder {
  font-size: 0.875rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #bbbbbb;
  text-transform: uppercase;
}

input:valid {
  border-left: 0.1875rem solid #7fff00;
  transition-duration: 0.5s;
}

input:invalid {
  border-left: 0.1875rem solid #FF0000;
  transition-duration: 0.5s;
}

.contact-form-bio input:last-child {
  margin-bottom: 0;
}

.contact-form-message {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.contact-form-message textarea {
  resize: none;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 0.625rem;
  height: 11.125rem;
  width: 18.75rem;
  font-size: 0.875rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

textarea::placeholder {
  color: #bbbbbb;
}

.btn-send {
  border: 0.125rem solid #fed136;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--main-font-color);
  background-color: var(--main-background-color);
  padding: 1.5625rem 3.125rem;
  border-radius: 3px;
  display: block;
  margin: auto;
}

.btn-send:hover {
  color: #fed136;
  background-color: #fff;
  transition-duration: 0.5s;
}

.btn-send:focus {
  color: #7fff00;
  background-color: #7fff00;
  border-color: #7fff00;
  transition-duration: 0.3s;
  outline: 0;
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  background-position: center;
}

.btn-send:focus > span {
  opacity: 0;
  visibility: hidden;
}
